name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      LISP: sbcl-bin
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install roswell
        run: |
          curl -L https://raw.githubusercontent.com/roswell/roswell/master/scripts/install-for-ci.sh | sh
      - name: Install qlot
        run: |
          ros install qlot
      - name: Set Path
        run: |
          echo "${HOME}/.roswell/bin" >> $GITHUB_PATH
      - name: Build system
        run: |
          cd $GITHUB_WORKSPACE
          qlot install
          qlot exec ros -e '(handler-case (asdf:load-system :material-reconstruction) (error (c) (princ c) (uiop:quit 1)))'
